<% include partials/header %>

<h1><%= story.title %></h1>

<iframe src="https://youtube.com/embed/<%= story.youtubeID %>" 
    width="560" height="315" frameborder="0" allowfullscreen>
</iframe>

<p><%= story.description %></p>

<% story.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>

<% include partials/footer %>